* {
    font-family: 'Open Sans';
}

a {
    color: #0489bf;
}


@font-face {
    font-family: 'Vaadin-Icons';
    src: url('../fonts/Vaadin-Icons.eot');
    src: url('../fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vaadin-Icons.woff') format('woff'),
    url('../fonts/Vaadin-Icons.ttf') format('truetype'),
    url('../fonts/Vaadin-Icons.svg#icomoon') format('svg');
}

.icon {
    font-family: Vaadin-Icons;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.adaptive-font {
    /* font-family: 'Montserrat'; */
    letter-spacing: -1.4px;
}

h1.adaptive-font {
    font-size: 4em;
    line-height: 1em;
    padding-top: 25px;
    padding-bottom: 60px;
}

h1 {
    margin: 0;
    /* font-family: 'Montserrat'; */
    letter-spacing: -1.4px;
    font-size: 3em;
    line-height: 1em;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #0489bf;
}

h2 {
    /* font-family: 'Montserrat'; */
    letter-spacing: -1.4px;
    line-height: 1em;
    padding-top: 25px;
    color: #0489bf;
}

h3 {
    /* font-family: 'Montserrat'; */
    letter-spacing: -1.4px;
    line-height: 1em;
    padding-top: 25px;
    color: #0489bf;
}

h4, h5, h6 {
    /* font-family: 'Montserrat'; */
    letter-spacing: -1.4px;
    line-height: 1em;
    padding-top: 25px;
    color: #0489bf;
}

h1.adaptive-font, h2.adaptive-font, h3.adaptive-font {
    text-align: center;
}

.navbar .navbar-brand {
    /* font-family: 'Montserrat', cursive; */
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #0489bf;
    font-size: 2em;
}

.navbar .navbar-brand {
    background: url(../assets/adaptive/trademarka1-light-blue-85x48.png) no-repeat 15px 10px;
    background-size: 67px 38px;
    padding: 18px 15px 15px 90px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .navbar .navbar-brand {
        background: url(../assets/adaptive/trademarka1-light-blue-170x96.png) no-repeat 12px 10px;
        background-size: 67px 38px;
    }
}

@media (min-width: 768px) {
    .navbar {
        position: absolute;
    }

    .navbar .navbar-brand {
        text-align: center;
        background: url(../assets/adaptive/trademarka1-light-blue-227x128.png) no-repeat 12px 25px;
        background-size: 228px 128px;
        line-height: 270px;
        margin: 0;
        padding: 25px 15px;
    }

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        .navbar .navbar-brand {
            background: url(../assets/adaptive/trademarka1-light-blue-455x256.png) no-repeat 12px 25px;
            background-size: 228px 128px;
        }
    }

    .navbar .navbar-header:hover {
        color: #0489bf;
        background-color: #eee;
    }

    .navbar, .navbar .navbar-brand {
        width: 250px;
        height: 185px;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 185px;
    }
}

.welcome-panel {
    text-align: center;
}

.welcome-panel .welcome-subpanel{
    margin-bottom: 4em;
}

.welcome-panel .welcome-subpanel .project-icon{
    margin: 5px 20px;
}

.welcome-panel .welcome-subpanel a{
    font-weight: bold;
}

.welcome-panel .img-large{
    width: 100%;
    max-width: 325px;
}

.home-container{
    /* max-width: 1000px; */
}

.sidebar-nav .active{
    background-color: #eee;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 0px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remve the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

}
