<div id="footer">
    <hr style="margin-bottom: 5px;">
    <div class="row" style="padding-bottom: 20px;padding-top: 0px;">
        <div class="col-md-6">
            <p style="color: #cccccc;font-size: 12px;float: left;position: relative;">Created with <i class="icon" style="color:red;">&#xe780;</i> in Catalonia | <i class="icon" style="font-size: 10px;">&#xe638;</i> 2015 adaptive.me</p>
        </div>
        <div class="col-md-6">
            <p style="color: #cccccc;font-size: 12px;float: right;">
                Stalk us |
                <a href="http://twitter.com/adaptiveme"><i class="fa fa-twitter" style="font-size: 12px;color: #55acee;padding-left:5px; padding-right: 5px;"></i></a>
                <a href="http://google.com/+AdaptiveMe"><i class="fa fa-google-plus" style="font-size: 12px;color: #dc4e41;padding-left:5px; padding-right: 5px;"></i></a>
                <a href="https://facebook.com/adaptiveme/"><i class="fa fa-facebook" style="font-size: 12px;color: #3b5998;padding-left:5px; padding-right: 5px;"></i></a>
                <a href="https://instagram.com/adaptive.me/"><i class="fa fa-instagram" style="font-size: 12px;color: #3f729b;padding-left:5px; padding-right: 5px;"></i></a>
                <a href="http://adaptiveme.tumblr.com/"><i class="fa fa-tumblr" style="font-size: 12px;color: #35465c;padding-left:5px; padding-right: 5px;"></i></a>
                <a href="mailto:hello@adaptive.me"><i class="fa fa-envelope-o" style="font-size: 12px;color: #333;padding-left:5px; padding-right: 0px;"></i></a>
            </p>

        </div>

    </div>
</div>